figure.highlight {
  background: #f4ede4;
  border-radius: 0.5rem;
}
figure.highlight table {
  border-radius: 0 0 0.5rem 0.5rem;
}
figure.highlight .iconfont.el-icon-vuewindow-down {
  transform: none;
  transition: transform 0.2s ease-in-out;
}
figure.highlight .iconfont.el-icon-vuewindow-down.collapsed {
  transform: rotate(-90deg);
}
figure.highlight > i {
  color: #777;
  margin-left: 10px;
  line-height: 2rem;
}
figure.highlight > span {
  color: #777;
  margin-left: 10px;
  font-weight: bold;
}
figure.highlight td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
