@font-face {
  font-family: 'KaiTi';
  src: url("./mycustom/ttf/KaiTi.ttf");
}
@font-face {
  font-family: 'Times New Roman';
  src: url("./mycustom/ttf/Times New Roman.ttf");
}
html,
body {
  font-family: 'Times New Roman', KaiTi !important;
}
.markdown-body {
  font-family: 'Times New Roman', KaiTi !important;
}
