.reward-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
/* 单个图片的容器 */
/* 微信支付和支付宝支付的文字样式 */
}
.reward-container .tea {
  font-size: 0.8125em;
  color: #999;
  margin-top: 10px;
}
.reward-container .reward-btn {
  padding: 8px 24px;
  font-size: 18px;
  background-color: #e6e6fa;
  color: #e3a850;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.reward-container .reward-img-container {
  display: none;
  margin-top: 20px;
/* 图片容器的透明度 */
  opacity: 0;
/* 过渡效果,使动画更平滑 */
  transition: opacity 2s ease;
}
.reward-container .reward-img {
  width: 150px;
  margin: 10px;
  border: 1px dashed #ccc;
  border-radius: 4px;
}
.reward-container .singleImgContainer {
  width: 50%;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.reward-container .wechatPay,
.reward-container .aliPay {
  text-align: center;
  font-size: 0.8125em;
  color: #999;
}
